{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/bootstap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
</style>
<body>

{% block content %}
<br>
<br>
<br>

{% for board in boards %}
<div class="col-sm-6">
       <h4 ><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></h4>
        <small class="text-muted d-block">{{ board.description }}</small>
        <small class="text-muted d-block">Posts : {{ board.get_posts_count }}  Topics : {{ board.topics.count }}</small>
        <small class="text-muted d-block">{{ board.description }}</small>
        {% with post=board.get_last_post %}
        {% if post %}
          <small class="text-muted d-block">
            <a href="{% url 'topic_posts' board.pk post.topic.pk %}">By {{ post.created_by.username }} at {{ post.created_at }}</a>
          </small>
        {% else %}
          <em>No posts yet.</em>
        {% endif %}
        {% endwith %}
        <br>
  </div>
            
{% endfor %}
{% endblock %}